@import url(../photo-grid/__image/photo-grid__image.css);
@import url(../photo-grid/__list/photo-grid__list.css);
.photo-grid {
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
}


@media screen and (max-width:1040px) {
    .photo-grid {
      grid-gap: 14px;
      max-width: 928px;
    }
  }
  
  @media screen and (max-width:777px) {
    .photo-grid {
        grid-gap: 16px;
        max-width: 720px;
    }
  }
  
  @media screen and (max-width:330px) {
    .photo-grid {
      padding: 0 16px;
      grid-gap: 12px;
      max-width: 288px;
    }
  }