@import url(../intro/__list-item-number/intro__list-item-number.css);
@import url(../intro/__list-item/intro__list-item.css);
@import url(../intro/__list/intro__title.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__title/intro__title.css);
.intro {
    padding-top: 92px;
    padding-bottom: 92px;
    max-width: 984px;
    margin: 0 auto;
}