.lead__subtitle {
margin: 0 auto 64px;
max-width: 640px;
max-height: 72px;
text-align: center;
font-size: 30px;
line-height: 36px;
font-weight: normal;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
      margin: 32px auto 56px;
    }
  }
  
  @media screen and (max-width: 560px) {
    .lead__subtitle {
      font-size: 24px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .lead__subtitle {
      font-size: 16px;
      margin: 16px auto 40px;
    }
  }